<nav id="navegacion" class="navbar navbar-expand-md">
  <div class="container-fluid d-flex align-content-center">
      
        <div>
            <a class="navbar-brand" href="#"><img id="logo_arg_programa" src="../../../assets/Diseño sin título (17).png" alt="logo_arg_programa"></a>
        </div>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav me-auto mb-2 mb-lg-0"> 
          </div>
          <span>
              <a href="https://wa.me/+543813960697"><img class="social" src="./assets/logo_whatsapp.svg" alt="logo_whatsapp"></a>
              <a href="https://github.com/agustindiaz59"><img class="social" src="./assets/github.svg" alt="logo_github"></a>
              <a href="https://www.instagram.com/agustindiaz2003/"><img class="social" src="./assets/logo_instagram.svg" alt="logo_instagram"></a>
              <a routerLink="/login"><img class="social" src="./assets/login.svg" alt="login"></a>
          </span>
      </div>
  </div>
</nav>