<!--Barra de navegacion-->
<nav style="background-color: blueviolet; color: black;">
  <ul class="nav justify-content-center align-items-center">
    
    <li class="nav-item">
      <h3>Matias Agustin Muro Diaz</h3>
    </li>

    <li class="nav-item">
      <a href="https://wa.me/543813960697/">
          <img style="width: 30px;" [src]="miPortafolio.whatsapp" alt="logo_whatsapp">
      </a>
    </li>

    <li class="nav-item">
      <a href="https://www.instagram.com/agustindiaz2003/">
        <img style="width: 30px;" [src]="miPortafolio.instagram" alt="logo_instagram">
      </a>
    </li>

    <li class="nav-item">
      <a href="https://github.com/agustindiaz59">
        <img style="width: 30px;" [src]="miPortafolio.github" alt="github">
      </a>
    </li>

    <li class="nav-item">
      <a href="#">
        <img style="width: 30px;" [src]="miPortafolio.login" alt="login">
      </a>
    </li>

  </ul>
</nav>