<div class="container-fluid text-center" style="min-height: 100vh; padding-top: 15vh;">
    <div class="row">
        <div class="col">
            <div class="spinner-border text-primary" role="status" style="width: 15vh;height: 15vh;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-top: 4vh;">
            <h3>Iniciando servidor (esto puede tardar unos minutos)</h3>
        </div>
    </div>
</div>
