  <!--Agregar fotos de lista de instituciones-->
<header class="card">
  
  <div style="margin: 5px;" class="container-fluid">
    <!--titulo acerca de mi-->
    <div class="row">
      <div class="col">
        <h1>Acerca de mi</h1>
      </div>
      <div id="boton-agregar" class="col">
        <a href="#">
          <img style="width: 30px;" [src]="miPortafolio.add" alt="add">
        </a>
      </div>
    </div>

    <!--info acerca de mi-->
    <div class="row">
      <div class="col">
        <p>{{miPortafolio.info}}</p>
      </div>
      <div id="editar-o-eliminar" class="col">
        <a href="#">
          <img style="width: 30px;" [src]="miPortafolio.edit" alt="edicion">
        </a>
        <a href="#">
          <img [src]="miPortafolio.delete" alt="delete">
        </a>
      </div>
    </div>
  </div>
</header>