<!--Agregar fotos de lista de instituciones-->
<section class="card">

  <div style="margin: 5px;" class="container-fluid">
    <!--titulo acerca de mi-->
    <div class="row">
      <div class="col">
        <h1>Acerca de mi</h1>
      </div>
      <div id="boton-agregar" class="col">
        <app-add></app-add>
      </div>
    </div>

    <!--info acerca de mi-->
    <div class="row">
      <div class="col">
        <p>{{miPortafolio.persona.sobre_mi}}</p>
      </div>
      <div id="editar-o-eliminar" class="col">
        <app-edicion></app-edicion>
      </div>
    </div>
  </div>
</section>