<section>
  <div style="height: 600px;width: 100%;" class="d-flex align-items-center">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col">
          <h1>Acerca de mi</h1>
        </div>
      </div>
      <div style="margin-top: 100px;" class="row">
        <div class="col">
          <h3>
            Me presento,
             mi nombre es Matias Agustin Muro Diaz y
              soy tecnico en equipos e instalaciones electromecanicas
               y desarrollador fullstack
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>