
header{
    background-image:url(../../../assets/sunset-1373171_1920.jpg);
    background-size:cover;
    background-attachment: scroll;
    background-position: center;
    color:black;
    height: 7in;
    width: 100%;
}
#foto_de_perfil{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    border-radius: 50%;
}
h3{
    margin-bottom: 100px;
}