<!--Encabezado-->
<header class="card">

    <!--foto de portada-->
    <div>
        <img class="card-img-top" [src]="miPortafolio.backImage" alt="banner">
    </div>

    <!--foto de perfil-->
    <div id="foto-de-perfil" class="d-flex align-items-end">

        <img style="width: 100%; border-radius: 50%;" [src]="miPortafolio.profileImage" alt="foto_de_perfil">
        <a href="#">
          <img style="width: 30px;" [src]="miPortafolio.edit" alt="edicion">
        </a>
        
    </div>

    <!--info de presentacion-->
    <div class="container-fluid">
      <div class="row">

        <div style="text-align: left;" class="col">
          <h1>{{miPortafolio.name}}</h1>
          <p>{{miPortafolio.orientacion}}<br>
            {{miPortafolio.ubicacion}}
            <a href="#">info de contacto</a>
          </p>
        </div>

        <div style="text-align: right;" class="col">
            <ul id="listas">
              <li><!--insertar foto-->{{miPortafolio.institucion}}</li>
              <li><!--insertar foto-->INTI</li>
            </ul>
        </div>

      </div>
    </div>

    <!--botones de intereses-->
    <div class="row">
        <div style="margin: 5px 0 5px 5px;" class="col">
          <button class="btn btn-primary">Tengo interes en:</button>
          <button class="btn btn-light">Añadir seccion</button>
          <button class="btn btn-light">Más</button>
        </div>
    </div>

</header>