<div class="marco">
    <div class="login-container">
      <h1>Crear nuevo usuario</h1>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <label for="user">Nombre de usuario:</label>
        <input type="text" id="username" formControlName="email">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="contraseña">
        <div><a routerLink="/inicio" style="text-decoration: none;">Volver al inicio</a></div>
        <input type="submit" value="Iniciar sesión">
      </form>
    </div>
</div>