footer{
    font-family:'Open Sans', sans-serif;
    background-color: blueviolet;
    height: 10vh;
}
.logo_arg_programa{
    width: 35vw;
    max-width: 2in;
}
.logo_java{
    width: 30vw;
    max-width: 2in;
}
