<!--Agregar fotos de escuelas-->
<div style="margin: 5px;" class="container-fluid">
  <!--titulo de experiencias-->
  <div class="row">
      <div class="col">
        <h1>Experiencia</h1>
      </div>
      <div id="boton-agregar" class="col">
        <app-add></app-add>
      </div>
  </div>
  <!--lista de experiencia-->
  <ul>
      <li  *ngFor="let elemento of miPortafolio.trabajos; let i = index">
        <div class="row">

          <div class="col-1">
            <!--insertar foto-->
          </div>

          <div class="col">
            <h2>{{miPortafolio.trabajos[i].titulo}}</h2>
            <p>{{miPortafolio.trabajos[i].descripcion}}</p> <!--Aqui podria  sacar el .cuerpo y poner una lista igual a la de trabajos, lo dejo como dos maneras distintas de escribir un json-->
          </div>

          <div id="editar-o-eliminar" class="col">
            <app-edicion></app-edicion>
          </div>

        </div>
      </li>
  </ul>
</div>